.posts {
  margin-right: 50px;
}

.posts:hover {
  background-color: #ccc;
}

.counter {
  margin-right: 50px;
}

.counter:hover {
  background-color: #ccc;
}

.container {
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: pink;
  height: 50px;
  width: 1550px;
}

.post-container {
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 100px;
  background-color: azure;
}

.post-list {
  background-color: yellowgreen;
}

.badge {
  background-color: #cc2062;
  color: white;
  border-radius: 12px;
  padding: 0 0.8rem;
}

.nav {
  padding-top: 7px;
}

.favorites:hover {
  background-color: #ccc;
}
